#inline{
    background-color:red;
    display: inline;
    padding:15px;
    height: 150px;
}
#inline-block{
    background-color:green;
    diplay: inline-block;
    padding: 15px;
    height:  150px;
}
img{
    display: block;
    margin:auto;
}
.Align{
    width:50%;
    height:150px;
    position: relative;
    border: 5px solid green;
}
.Sub-div{
    height: 100px;
    width: 150px;
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right:0;
    margin:auto;
}
.div1~p{
    background-color:blue;
}
a{
    margin-top:20px;
    display: inline-block;
    border-radius:10px;
    text-decoration: none;
    color: #ffff;
    background-color: green;
    padding: 20px;

}
a:link{
    color: blue;
    opacity:0.3;
}
a:visited{
    background-color:red;
}
a:hover{
    opacity:1;
}
a:active{
    background-color:black;
}
.text{
    height: 200px;
    width: 200px;
    border: 2px solid green;
}
div.text:hover{
    border: 5px dotted red;
}
div.textp:first-child {
    color:blue;
}